// 颜色定义规范
$color-background = rgba(2, 144, 252, 1)
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #222
$color-theme-d = rgba(2, 144, 252, .8)
$color-sub-theme = #d93f30
$color-text = rgba(2, 144, 252, 1)
$color-text-d = rgba(2, 144, 252, 1)
$color-text-l = #f56f65
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-theme-g = #f66
$color-theme-slider = #f66
$color-theme-slider-g = rgba(2, 144, 252, .3)

// $color-background = #222
// $color-background-d = rgba(0, 0, 0, 0.3)
// $color-highlight-background = #333
// $color-dialog-background = #666
// $color-theme = #ffcd32
// $color-theme-d = rgba(255, 205, 49, 0.5)
// $color-sub-theme = #d93f30
// $color-text = #fff
// $color-text-d = rgba(255, 255, 255, 0.3)
// $color-text-l = rgba(255, 255, 255, 0.5)
// $color-text-ll = rgba(255, 255, 255, 0.8)
// $color-theme-g = rgba(255, 205, 49, 1)
// $color-text-ll = rgba(2, 144, 252, 1)
// $color-theme-slider = #b94444
// $color-theme-slider-g = rgba(2, 144, 252, 1)
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px